<div class="stations">
    <h3>Sales by Station</h3>
    <div>
      <div *ngFor="let station of stations" class="station">
        <p class="icons">
          <fa-icon [icon]="faCar" style="font-size: 18px"></fa-icon>
          <fa-icon [icon]="faGasPump" style="font-size: 18px"></fa-icon>
        </p>
  
        <h4 class="name">{{ station.name }}</h4>
        <h3 class="value" [ngStyle]="{color: station.value === 0? 'rgb(188, 220, 240)': 'inherit'}">
          {{ station.value === 0 ? 'NM' : (station.value | number) + ' m³' }}
        </h3>
        <app-range-line [sales]="station.value"></app-range-line>
      </div>
    </div>
  </div>
  